@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

.raleway-bold {
  font-family: "Raleway", serif;
  font-weight: 700;
}

.raleway-regular {
  font-family: "Raleway", serif;
  font-weight: 500;
}

.raleway-medium {
  font-family: "Raleway", serif;
  font-weight: 400;
}

.border-left {
  border-left: 4px solid #f7df94;
}

.h-90 {
  height: 90vh;
}

.author-text {
  color: #4f4f4f;
}

.genre-text {
  color: #828282;
}

.author-container, .author-text, .genre-text {
  transition: 0.5s;
}

.author-container:hover{
  background-color: #333333;
}

.author-container:hover .author-text {
  color: #F2F2F2;
}

.author-container:hover .genre-text {
  color: #828282;
}
